nav {
    background-color: #080C0D;
    
}
nav a{
    color: white;
}
#nav_mio{
    top: 0%;
    margin: 0;
}
footer{
    top: 90%;
    height: 100;
    background-color:#691870 ;
}

#reach{
    margin: auto;
}
.bod{
    background-color: #F2F2F2;
}

/* Color Theme Swatches in Hex */
.Copy-of-Black-Red-Silver-1-hex { color: #F2F2F2; }
.Copy-of-Black-Red-Silver-2-hex { color: #D9D9D9; }
.Copy-of-Black-Red-Silver-3-hex { color: #A4A6A6; }
.Copy-of-Black-Red-Silver-4-hex { color: #CF0210; }
.Copy-of-Black-Red-Silver-5-hex { color: #0F0F0F; }

/* Color Theme Swatches in RGBA */
.Copy-of-Black-Red-Silver-1-rgba { color: rgba(242, 242, 242, 1); }
.Copy-of-Black-Red-Silver-2-rgba { color: rgba(216, 216, 216, 1); }
.Copy-of-Black-Red-Silver-3-rgba { color: rgba(164, 165, 165, 1); }
.Copy-of-Black-Red-Silver-4-rgba { color: rgba(206, 2, 15, 1); }
.Copy-of-Black-Red-Silver-5-rgba { color: rgba(15, 15, 15, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-Black-Red-Silver-1-hsla { color: hsla(0, 0, 95, 1); }
.Copy-of-Black-Red-Silver-2-hsla { color: hsla(0, 0, 85, 1); }
.Copy-of-Black-Red-Silver-3-hsla { color: hsla(180, 0, 64, 1); }
.Copy-of-Black-Red-Silver-4-hsla { color: hsla(0, 98, 40, 1); }
.Copy-of-Black-Red-Silver-5-hsla { color: hsla(0, 0, 6, 1); }

